---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<!-- <p>{{ site.description | markdownify }}</p> -->
							<p>18 juli 2019</p>
							<ul class="actions">
								<li><a href="#rsvp" class="button">RSVP</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Verder</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Wij gaan trouwen!</h2>
								<p><i>...en dat vieren wij het liefst met jullie.</i></p>
								<p>Lees gauw verder voor meer informatie over deze spectaculaire dag.</p>
								<p><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=Nmtra2xiZmFmc2g1N3NnaWFqMG40azVxb2ogNm82MWhnZTNmczEwaGk4NmZkbzQxcm5vMDRAZw&tmsrc=6o61hge3fs10hi86fdo41rno04%40group.calendar.google.com">Voeg toe aan je Google Calendar</a></p>
							</header>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
								<h2>De tortelduiven</h2>
								<p>Simone is dol op katten, Marijn op computers. Toch zijn ze in overeenstemming dat ze het meeste hebben aan elkaar. Daar komt binnenkort een strik omheen!</p>
							</div>
						</section>
						<section class="spotlight">
							{% include map.html %}
							<div class="content">
								<h2>Paviljoen<br />
								Het Houtse Meer</h2>
								<p>De bruiloft vindt in zijn geheel plaats bij Paviljoen Het Houtse Meer in Den Hout. Het is gelegen aan een klein meer ten noorden van Breda en brengt een intiem strand met zich mee voor een buitengewoon zomerse beleving.</p>
								<p><a href="https://www.hethoutsemeer.nl/">hethoutsemeer.nl</a></p>
							</div>
						</section>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special flower">
						<div class="inner">
							<header class="major">
								<h2>Het programma</h2>
								<ul class="alt">
									<li>14.30 Ontvangst daggasten</li>
									<li>15.00 Taart & proost</li>
									<li>17.30 Diner</li>
									<li>19:45 Ontvangst avondgasten</li>
									<li>20.00 Ja-woord</li>
									<li>20.30 Feest</li>
									<li>01.00 Einde</li>
								</ul>
							</header>
							<ul class="features">
								<li class="icon fa-hotel">
									<h3>Verblijf</h3>
									<p>De locatie ligt op 10 min. rijafstand van Oosterhout en 15 min. van Breda centrum.</p>
									<p>De dichtstbijzijnde hotels bevinden zich in Oosterhout. Wij raden <a href="https://www.gr8hotels.nl/nl/oosterhout/gr8-hotel-oosterhout/">Gr8 Hotel Oosterhout</a> aan.</p>
								</li>
								<li class="icon fa-gift">
									<h3>Cadeauwensen</h3>
									<p>Het is altijd leuk om persoonlijke cadeaus te krijgen, maar soms is dat ook best lastig. Maak ons ontzettend blij met een bijdrage aan onze huwelijksreis naar Israël.</p>
									{% include donate.html %}
									<p><strong>(Of neem een envelopje mee &#128540;)</strong></p>
								</li>
								<li class="icon fa-microphone">
									<h3>Speeches</h3>
									<p>Wil je iets komen vertellen? Leuk!</p>
									<p>Neem wel even contact op, dan kunnen we de onderwerpen en tijden goed verdelen.<br>
									<a>simonerodts@gmail.com</a></p>
								</li>
								<li class="icon fa-info">
									<h3>Contact</h3>
									<p>Voor vragen kun je via de mail contact opnemen met ons.<br><a>simonerodts@gmail.com</a></p>
									<p>Op de dag zelf kun je bellen met de ceremoniemeester.<br><a href="tel:+31 6 24 455 871" >+31 6 24 455 871</a></p>
								</li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="rsvp" class="wrapper style2">
						<div class="inner">
							<header class="major">
								<h2>RSVP</h2>
								<p><i>Geef het door voor 10 juni</i></p>
							</header>
						</div>
						<div class="inner">
							{% include rsvp.html %}
						</div>
					</section>
